.main-bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}
.heading {
  font-family: Lobster;
  color: #0f172a;
}
.tabs-list {
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}
.items-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0px;
}
.failure-view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.failure-view-image {
  width: 250px;
  height: 180px;
}
.error-message {
  text-align: center;
  color: #334155;
  font-family: 'Bree Serif';
  font-size: 28px;
}
.loading-div {
  min-height: 55vh;
}
